h1{
    margin-top: 30px;
}
body {
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4EA72E;
    display: flex;
}
.card{
    background-color: white;
    font-size: 17px;
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 900px;
}
button{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: #2E7D32;
    font-size: 16px;
    border-radius: 40px;
}
footer{
    margin-top: 50px;
    font-size: 14px;
    color:white;
}